Products Index
<%= link_to "New Product", new_product_path %>


<% @products.each do |product| %>
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
        <th>
          Price
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to product.name, product_path(product) %>
        </td>
        <td>
          <%= product.description %>
        </td>
        <td>
          <%= product.price %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
